h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

#sapin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feuille {
    background-color: green;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.guirlande {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.rouge {
    background-color: red;
}

.rouge:hover {
    background-color: black;
}

.jaune {
    background-color: yellow;
}

.bleu {
    background-color: blue;
}

.bleu:hover {
    background-color: darkgoldenrod;
}

.vert {
    background-color: greenyellow;
}

.vertfoncé {
    background-color: #00BC20;
}

.vertfoncé:hover {
    background-color: darkorchid;
}

.tronc {
    width: 75px;
    height: 75px;
    background-color: rgb(102, 33, 33);
    border-radius: 0px 0px 10px 10px;
}